extends layout

block content
  h1= title
  p Welcome to #{title}
    a(href='files/Exam_A.pdf' target="_blank") (Exam A)
  p Available pages:
    li
      a(href="/pay", target="_blank") To make a pay.
    li
      a(href="/payments", target="_blank") To check payments history.

